.App {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 20px;
  grid-template-areas: "hr hr hr" ". main ." "fr fr fr";
}

.header {
  grid-area: hr;
  justify-self: center;
}

.main {
  display: grid;
  grid-template-rows: 50px 1fr;
  position: fixed;
  height: 400px;
  bottom: 50px;
  width: 300px;
  right: 0;
  border-radius: 5px 5px 0 0;


  background: #e0ebeb;


}

.mainHide {
  display: grid;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 300px;
  right: 0;
  border-radius: 5px 5px 0 0;
  background: #e0ebeb;
}

.form {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-area: main;
  grid-gap: 30px;
}

.footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 300px;
  right: 0;
  background: #e0ebeb;
}

.message {
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  word-wrap: break-word;
  min-height: 30px;
  background: red;
}

.loginFacebook {
  grid-column: 1 /3;
  justify-self: center;
}

.singup {
  grid-column: 1 /2;
  display: grid;
  justify-items: center;
  grid-gap: 16px;
}

.login {
  align-self: flex-start;
  grid-column: 2 /3;
  display: grid;
  justify-items: center;
  grid-gap: 16px;
}